apiVersion: v1
kind: Secret
metadata:
  name: okd4-gitops-demo
  labels:
    kargo.akuity.io/secret-type: repo-creds
stringData:
  type: git
  url: https://github.com/baloise-incubator/
  username: <username>
  password: <password>